name: js-client-sdk

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build + Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: npm install
        run: npm install

      - name: npm run build
        run: npm run build

      - name: npm run ci:test
        run: npm run ci:test
